aniso8601==7.0.0
asgiref==3.4.0
astroid==2.6.2
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
fastapi==0.65.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
isort==5.9.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
promise==2.3
psycopg2-binary==2.9.1
py==1.10.0
pydantic==1.8.2
pygtrie==2.4.2
pylint==2.9.1
pyparsing==2.4.7
pytest==6.2.4
requests==2.25.1
Rx==1.6.1
six==1.16.0
SQLAlchemy==1.4.20
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
Unidecode==1.2.0
urllib3==1.26.6
uvicorn==0.14.0
wrapt==1.12.1
