version: '3.9'
services:
 kratos-migrate:
    image: oryd/kratos:v0.7.0-alpha.1
    environment:
      - DSN=postgres://kratos:secret@postgresd:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4
    volumes:
      - type: volume
        source: kratos-sqlite
        target: /var/lib/sqlite
        read_only: false
      - type: bind
        source: ./Kratos_config/email-password
        target: /etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    restart: on-failure
    networks:
      - my-network

 postgresd:
    image: postgres:9.6
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=kratos
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=kratos
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - my-network

 kratos:
  image: oryd/kratos:v0.7.0-alpha.1
  ports:
    - '4433:4433' # public
    # - '4434:4434' # admin
  restart: unless-stopped
  environment:
    - DSN=postgres://kratos:secret@postgresd:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4
    - LOG_LEVEL=trace
    - COURIER_SMTP_CONNECTION_URI=${VACHAN_SUPPORT_EMAIL_CREDS:-smtps://test:test@mailslurper:1025/?skip_ssl_verify=true&legacy_ssl=true}
    - COURIER_SMTP_FROM_ADDRESS=${VACHAN_SUPPORT_EMAIL:-EMAIL_ADDRESS@bridgeconn.com}
  command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
  volumes:
    # - type: volume
    #   source: kratos-sqlite
    #   target: /var/lib/sqlite
    #   read_only: false
    - type: bind
      source: ./Kratos_config/email-password
      target: /etc/config/kratos
  expose:
    - 4434
    - 4433
  networks:
    - my-network

 vachan-db:
  image: postgres:12.7
  healthcheck:
   test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
   timeout: 45s
   interval: 10s
   retries: 10
  restart: always
  environment: 
   - POSTGRES_USER=${VACHAN_POSTGRES_USER:-postgres}
   - POSTGRES_PASSWORD=${VACHAN_POSTGRES_PASSWORD:-password}
   - POSTGRES_DB=${VACHAN_POSTGRES_DATABASE:-vachan_dev}
   - POSTGRES_HOST_AUTH_METHOD=trust
  logging:
   options:
    max-size: 10m
    max-file: "3"
  expose:
   - 5432
  ports:
   # HOST:CONTAINER
   - "5433:5432"
  networks:
   - my-network
  volumes: 
   # - ${VACHAN_POSTGRES_DATA_DIR:-./pgdata}:/var/lib/postgresql/data
   - vachan-db-vol:/var/lib/postgresql/data
   - ../db/csvs:/csvs
   - ../db/seed_DB.sql:/docker-entrypoint-initdb.d/seed_DB.sql

# vachan-api app
 vachan-api:
  build:
   context: ../
   dockerfile: ./docker/Dockerfile
  healthcheck:
   timeout: 45s
   interval: 10s
   retries: 10
  environment: 
   - VACHAN_POSTGRES_HOST=vachan-db
   - VACHAN_POSTGRES_USER=${VACHAN_POSTGRES_USER:-postgres}
   - VACHAN_POSTGRES_PASSWORD=${VACHAN_POSTGRES_PASSWORD:-password}
   - VACHAN_POSTGRES_DATABASE=${VACHAN_POSTGRES_DATABASE:-vachan_dev}
   - VACHAN_POSTGRES_PORT=5432
   - VACHAN_KRATOS_PUBLIC_URL=http://kratos:4433/
   - VACHAN_KRATOS_ADMIN_URL=http://kratos:4434/
   - VACHAN_SUPER_USERNAME=${VACHAN_SUPER_USERNAME}
   - VACHAN_SUPER_PASSWORD=${VACHAN_SUPER_PASSWORD}
   - VACHAN_TEST_MODE="False"
   - VACHAN_LOGGING_LEVEL=INFO
   - VACHAN_GITLAB_TOKEN=${VACHAN_GITLAB_TOKEN:-none}
  command: uvicorn main:app --host 0.0.0.0 --port 8000
  volumes:
   # - ./app:/app/app
   - logs-vol:/app/logs
  restart: always
  links:
   - vachan-db
   - kratos
  depends_on:
   - kratos-migrate
   - postgresd
  expose:
   - 8000
  networks:
   - my-network

 # Web Server
 web-server:
  image: nginx:latest
  ports:
   - 80:80
  restart: always
  expose:
   - 80
  depends_on:
   - vachan-api
  volumes:
   - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
   - logs-vol:/var/log/nginx/
  networks:
   - my-network

 #reddis
 redis:
  container_name: redis
  image: "redis:alpine"
  ports:
    - "6379:6379"
  volumes:
    # save redisearch data to your current working directory
    # - ./redis-data:/data
    - redis-data:/app/data
  command: redis-server
  networks:
   - my-network

 # redis db visualization dashboard
 redisinsight: 
  container_name: redisinsight
  image: redislabs/redisinsight:latest
  ports:
    - '8001:8001'
  volumes:
    # - ./redisinsight:/db
    - redisinsight:/app/db
  networks:
   - my-network

networks:
 my-network:              
volumes:
  vachan-db-vol:
  logs-vol:
  kratos-sqlite:
  redis-data:
  redisinsight: