/* html, body {
    width: 100% !important;
    margin: 0 !important; 
    padding: 0 !important; 
    overflow-x: hidden !important;
    background: red !important;
  } */

/* html, body {
    background: red !important;
  } */
  

/* Add CSS styles to control the layout */
/* #vachan-engine-apis {
    display: flex;
    flex-direction: row;
} */



@media (max-width: 375px) {
  /* Apply styles for screens up to 375px width */
  .navbar-toggler-icon {
    font-size: 0.75rem; /* Adjust the font size to make the button smaller */
    display: none; /* Hide the default hamburger menu icon */
  }
  .navbar-toggler {
    font-size: 1.1rem; /* Adjust the font size to make the button smaller */
    margin-left: 1rem; /* Add some spacing between the header and the button */
  }
  .navbar-toggler::before {
    content: "\2630"; /* Unicode character for a three-bar icon (hamburger menu) */
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .navbar-brand img {
    margin-right: 1rem; /* Add spacing between the image and text */
  }

  /* Adjust the font size of the heading as needed */
  .navbar-brand span {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 320px) {
  /* Apply styles for screens up to 320px width */
  navbar-toggler-icon {
    font-size: 0.75rem; /* Adjust the font size to make the button smaller */
  }
  .navbar-toggler {
    font-size: 0.75rem; /* Adjust the font size to make the button smaller */
  }
  .navbar-toggler::before {
    content: "\2630"; /* Unicode character for a three-bar icon (hamburger menu) */
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .navbar-brand img {
    margin-right: 1rem; /* Add spacing between the image and text */
  }

  /* Adjust the font size of the heading as needed */
  .navbar-brand span {
    font-size: 0.92rem !important;
  }
}

/* .plot-address {
  margin-right: 10px !important; 
  display: inline-block; 
} */









/* Media query for mobile view */
@media (max-width: 767px) {
  .equal-width-buttons .btn {
    width: calc(100% - 10px) !important; /* Full width for mobile */
    border-width: 2px !important; /* Reduce the border width for mobile */
    margin-right: 0 !important; /* Remove margin-right for mobile */
    margin-bottom: 5px !important; /* Adjust the margin-bottom as needed for mobile */
  }
}

@media (max-width: 991px) {
  .equal-width-buttons {
    flex-direction: column !important;
    align-items: center !important;
  }
}


.vachanenginego img{
  width: 280px;
  height: 80px;
}

.intellisign img{
  width: 90px;
  height: 90px;
}


/* CSS for smaller images on mobile and tablets */
@media (max-width: 768px) {
  /* .img-mobile {
    text-align: center;
    margin-bottom: 20px; 
    padding: 20px; 
  } */

  .img-mobile img {
    max-width: 100%; /* Make images responsive */
    height: auto;
  }

  .vachanenginego img{
    width: 210px;
    height: 60px;
  }
  
  .intellisign img{
    width: 70px;
    height: 70px;
  }

}

/* CSS for mobile view (e.g., up to 480px) */
@media (max-width: 480px) {
  /* .img-mobile {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
  } */

  .img-mobile img {
    max-width: 50%; /* Adjust the maximum width for mobile */
    height: auto;
  }
  .intellisign img{
    width: 50px;
    height: 50px;
  }

}

/* CSS for testimonal carousel */

.testimonial-area {
	padding: 80px 0;
}
.section-header h4 {
	color: #ff87B0;
	font-weight: 600;
}
.section-header {
	padding-bottom: 15px;
}
.section-header h2 {
	font-weight: 700;
}
.section-header p {
	color: #6f6b80;
	width: 40%;
	margin: auto;
}
.icon-area {
	text-align: center;
}
.icon-area i {
	color: #ff87B0;
	font-size: 80px;
	margin-bottom: 20px;
}
.content p {
	color: #6f6b80;
	width: 60%;
	margin: auto;
}
.person {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #3B270C;
	margin-top: 50px;
}
.person img {
	width: 100%;
}
.content h5 {
	font-weight: 900;
	margin-top: 15px;
}
.testimonial-area {
	/* background: url(1.jpg); */
	background-size: cover;
	background-position: center;
}
.carousel-indicators {
	/* bottom: -80px; */
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: -50px;
  text-align: center;
}
.carousel-indicators [data-bs-target] {
	width: 60px;
	height: 10px;
	background-color: #ff87B0;
}
@media (min-width: 768px) and (max-width: 991px) {
	.section-header p {
		width: 85%;
	}
	.content p {
		width: 95%;
	}
}
@media (max-width: 767px) {
	.testimonial-area {
		padding: 30px 0;
	}
	.section-header p {
		width: 95%;
	}
	.content p {
		width: 100%;
	}
	.icon-area i {
		font-size: 50px;
	}
}

h2{
  font-family: 'Poppins', sans-serif;

}

h3{
  font-family: 'Poppins', sans-serif;
}
h4{
  font-family: 'Poppins', sans-serif;
}

h5{
  font-family: 'Nunito Sans', sans-serif;
}
h6{
  font-family: 'Nunito Sans', sans-serif;
}

p{
  font-family: 'Nunito Sans', sans-serif;
}

li{
  font-family: 'Nunito Sans', sans-serif;
}

.textcolour{
  font-family: 'Nunito Sans', sans-serif;
}

.docsbutton{
  font-family: 'Nunito Sans', sans-serif;
}



.navbar .dropdown-toggle {
  color: #7c76bb !important; /* Set text color for dropdown items */
}

.navbar .dropdown-menu .dropdown-item {
  /* background-color: #7c76bb; Set background color for sub-dropdown items */
  color: #7c76bb; /* Set text color for sub-dropdown items */

} 


/* Default styles for laptop/desktop view */
.techimages img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto;   /* Maintain image aspect ratio */
}

/* Tablet view (adjust breakpoint as needed) */
@media (max-width: 768px) {
  .techimages img {
    max-width: 80%; /* Reduce image size for tablet view */
  }
}

/* Mobile view (adjust breakpoint as needed) */
@media (max-width: 480px) {
  .techimages img {
    max-width: 45%; /* Reduce image size for mobile view */
  }
}
