<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f5f5f5;
    }

    h1 {
      color: blue;
      text-align: center;
      animation: blink 1s infinite;
    }

    h2 {
      color: green;
      text-align: center;
    }

    p {
      color: black;
    }

    pre {
      background-color: rgb(199, 228, 207);
      padding: 5px;
      overflow: auto;
      width: 70%;
      margin: 0 auto;
    }

    .container {
      margin: 1px;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
</head>
<body>
  <h1 id="vachan-engine-v2--authaccess-rules-permissions">Vachan Engine V2- Auth, Access rules &amp; Permissions</h1>
  <p>Vachan Engine V2 contains a set of APIs to interact with the underlying Databases and modules, which are referred to under multiple categories according to the application.</p>
  <h2 id="authentication-methods-user-register-login-token-generation-app-key-generation">Authentication Methods (User register, Login, Token generation, App Key generation)</h2>
  <p>Implement security measures like user authentication to ensure the safety of user data.</p>
  <h3 id="user-registration-login">User Registration &amp; Login</h3>
  <ul>
    <li>To register as a user, the user needs to provide Email, password, first name &amp; last name (first name &amp; last name are optional fields)</li>
  </ul>
  <p>Example:</p>
  <pre><code>curl -X 'POST' \
  'http://127.0.0.1:8000/v2/user/register' \
  -H 'accept: application/json' \
  -H 'Authorization: Bearer Ok2xZkiPfGie2s0TPgOU7JyXV6Su3Jsm' \
  -H 'Content-Type: application/json' \
  -d '{
  "email": "user.register@bridgeconn.com",
  "password": "Qwerty123@",
  "firstname": "string",
  "lastname": "string"
  }'</code></pre>
  <p>Response: (All external users as API User)</p>
  <pre><code>{
  "message": "Registration Successfull",
  "registered_details": {
    "id": "8752e5b4-ff7a-400b-a1ab-10948d3f04be",
    "email": "user.register@bridgeconn.com",
    "Permissions": [
      "API-user"
    ]
  },
  "token": "51PBQ6vYfeiNGccNPDmbnamkFVwvvxNd"
  }</code></pre>
  <ul>
    <li>Now the user can use registered user details to login, successful login will return a token for user for a time period.</li>
    <li>Access Api via HTTP request the valid token must provide in the header ‘Authorization: Bearer TOKEN_VALUE’ (Token generation)</li>
    <li>
      <h4 id="what-an-api-tokens-can-do">What an API Tokens can do :</h4>
      <ul>
        <li>API tokens are used to verify the identity of the user or application that is making a request to the API.</li>
        <li>The token is typically issued by the API provider when the user or application registers for an account or requests access to the API.</li>
      </ul>
    </li>
  </ul>
  <p>Example:</p>

  <pre><code>curl -X 'GET' \
    'http://127.0.0.1:8000/v2/user/login?user_email=user.login%40bridgeconn.com&amp;password=userlogin123%40' \
    -H 'accept: application/json' \
    -H 'Authorization: Bearer hj3mSSRks5jCnE1B5r0pA8MkeXISli4L'

  Response:
  {
    "message": "Login Succesfull",
    "token": "vsz7N9YROByCzxHmEASKYNYFwqZOpc4c",
    "userId": "a686c080-3526-4afc-b635-ab045e5fa5cc"
  }</code></pre>

  <h2 id="app-registration-login">App Registration &amp; Login</h2>
  <ul>
    <li>
      <p>To register an app user need email, name, organization, password &amp; one contact detail as mandatory.</p>
    </li>
    <li>
      <p>The registered user’s can login into the App.</p>
    </li>
    <li>
      <p>The auth system is the “dynamic authentication system”.</p>
    </li>
    <li>
      <p>for documentation refer swagger documentation : <code>http://127.0.0.1:8000/docs#/</code> to authorize click the <code>Authorize button with Lock symbol</code> and provide the username, password and submit will automatically validate credentials &amp; the user can access the authorized apis.</p>
    </li>
  </ul>

  <h3 id="how-to-generate-an-app-key">How to Generate an App Key</h3>
  <ul>
    <li>
      <p>for that user need to login with valid credentials used by the default app in the App to get App Key(with 1 year validation).</p>
    </li>
    <li>
      <p>Now the user can use the app key, for authorized access. They are unique to each application. They are used to ensure that only authorized applications are able to access certain features or data within the service.</p>
    </li>
    <li>
      <p>Eg: request curl (generate app key)</p>
    </li>
  </ul>

  <pre><code>
    curl -X 'GET' \
      'http://127.0.0.1:8000/v2/app/key?app_email=vachanadmin%40vachan.testing&amp;password=secret%40%21%40%23%24' \
      -H 'accept: application/json' \
      -H 'Authorization: Bearer 83CtHeoYxF0L8w82BmnjKFc4GagsxS70'
    </code></pre>
    
    <pre><code>
    Response:
    
    {
      "message": "Key generated successfully",
      "key": "wPPEew3ZvNkefnDnPfdGgi2ZAtP14TjF",
      "appId": "cf2d6017-569b-4521-922e-efa5eb28296f"
    }
  </code></pre>
  
  <h3 id="how-to-use-the-key-api">How to use the Key API</h3>
  <ul>
    <li>
      <p>app identification based on key, query params for key added for all endpoints.</p>
    </li>
    <li>
      <p>API keys are used to authenticate requests made to an API, and to track and control usage of the API by different developers or applications. It is used for authentication, but its specific purpose is to control access to a particular API.</p>
      <p>Eg: request curl (create source)</p>
    </li>
  </ul>

  <pre><code>
    curl -X 'POST' \
        'http://127.0.0.1:8000/v2/sources?app_key=GH4Zo9zlvKl4eyPDdndbSSVvgtQ3WSNu' \
        -H 'accept: application/json' \
        -H 'Authorization: Bearer hj3mSSRks5jCnE1B5r0pA8MkeXISli4L' \
        -H 'Content-Type: application/json' \
        -d '{
            "contentType": "bible",
            "language": "af",
            "version": "TTT",
            "revision": 1,
            "year": 2022,
            "license": "ISC",
            "accessPermissions": [
                "content"
            ],
            "metaData": {
                "otherName": "Test Source"
            }
        }'
    </code></pre>
    
    <pre><code>
    Response:
    
    {
        "message": "Source created successfully",
        "data": {
            "sourceName": "af_TTT_1_bible",
            "contentType": {},
            "language": {},
            "version": {},
            "revision": 1,
            "year": 2022,
            "license": {},
            "metaData": {
                "otherName": "Test Source"
            },
            "active": true
        }
    }
    </code></pre>
    
    <p>
        Access Restriction is implemented for all the endpoints in different levels based on the API's content priority. User level, Content level, Application level based security is added to each endpoint. Some of the endpoints are open accessible and others are restricted to a particular type of user-roles only. Users with specific role permission can only access those APIs.
    </p>
    
    <h2 id="access-rulesrbac--role-based-access-control">Access Rules(RBAC) - Role-Based Access Control</h2>
    
    <p>
        The user will register and allow the app to access certain endpoints based on certain rules. (Kratos match response will identify the user role and permissions for the App) The security implemented for the contents is based on Role-Based Access Control (RBAC). RBAC restricts the access based on the user's role, access tags, etc. RBAC Structure:
    </p>
    
    <pre><code>
    {
        "Entitlement": {
            "tags": [role-group]
        }
    }
    </code></pre>
    </pre></code>
    <ul>
      <li>Roles describe humans in the identity system (authentication).</li>
      <li>Tags are the actions or operations related to the resource.</li>
      <li>Entitlements permitted by (Role, Tag) pairs. The role-tag pair grand the permissions for an action in the request to a particular resource type.</li>
  </ul>
  
  <h4 id="app-operations">App operations</h4>
  <ul>
      <li>Once an App is created by the SuperAdmin or the VachanAdmin, it can also be edited by them.</li>
      <li>App key generation & deletion can be processed only by the SuperAdmin or the VachanAdmin.</li>
      <li>App details can be read or viewed by the SuperAdmin or the VachanAdmin.</li>
      <li>App can be deleted/ deactivated by the SuperAdmin/VachanAdmin.</li>
      <li>Operations via API can be done only by the SuperAdmin.</li>
  </ul>
  
  <h2 id="apps-content-management">App’s content management :</h2>
  <p>
      VachanEngine V2 deals with different types of contents and all of the contents are connected with source. So while creating a <code>source</code>, the admin must specify the resource type or access-permission-tag for that particular source to ensure the security based on the value of content that is going to be uploaded.
  </p>
  <p>To access certain contents in the app, the user can access without any authentication so-called role (NoAuthRequired)</p>
  <p>The User-roles can be <code>RegisteredUser</code>, <code>VachanAdmin</code>, <code>SuperAdmin</code>, <code>NoAuthRequired</code>, <code>resourceCreatedUser</code>, etc.</p>
  <p>SuperAdmin has access to almost every endpoint.</p>
  
  <h2 id="implemented-tags-permissions-roles">Implemented tags, Permissions, roles</h2>
  <ul>
      <li>
          <p>content, open-access, publishable, downloadable, derivable, research-use, etc: Resource Type (AccessPermissions of Sources)</p>
      </li>
      <li>
          <p>Permissions: create, login, edit, read, view-profile, logout, edit-role, access-via-api, generate-key, delete-key, refer-for-translation, etc</p>
      </li>
      <li>
          <p>When a request comes, we get the Resource type/Access permission, Operations & User details from it.</p>
      </li>
  </ul>
  
  <h2 id="operations-on-app-resources">Operations on App resources :</h2>
  <ul>
      <li>Let’s see what all contents can be accessed if a user is either authenticated & not.</li>
  </ul>
  <p>User, app, meta-content, content, access-control, etc. are examples of Resource types.</p>
  
  <h4 id="user-related-operations-like-register-login-logoutedit-read-etc..user">User related operations like register, login, logout, edit, read, etc. (<code>user</code>)</h4>
  <ul>
      <li>To create & login 'no auth' is required for a user,</li>
      <li>Edit & read account by SuperAdmin, resource Created User,</li>
      <li>Only registered user has only the permission to read about the user details.</li>
      <li>SuperAdmin can only delete/deactivate a user.</li>
      <li>Operations on the resources like Languages, Content type, Licenses, Versions
  <ul>
    <li>
        <p>Only the SuperAdmin &amp; the resource created User can edit it.</p>
    </li>
    <li>
        <p>To read the contents in languages 'no auth' is required for the user.</p>
    </li>
    <li>
        <p>All the registered user can refer for translations.</p>
    </li>
  </ul>
      
  <h4 id="commentaries-infographics-dictionary-or-videos-content">Commentaries, Infographics, Dictionary or Videos (<code>content</code>)</h4>
  <p>If some contents need to be uploaded to the server via create, retrieved by read-via-vachanadmin, read-via-api &amp; edited, the following user-roles can perform the actions:</p>
  <ul>
      <li>Edited by the SuperAdmin &amp; the Resource created User.</li>
      <li>If the auth permission is read-via-vachanadmin, then the contents can be viewed by the SuperAdmin &amp; VachanAdmin.</li>
      <li>If the auth permission is read-via-api, then the developer can also read the contents.</li>
  </ul>
  <p><code>open-access</code> is where no auth is required to access some endpoints.</p>
  <p>If the auth permission of the published contents is read-via-api, then all the registered users can access it.</p>
  <ul>
      <li>'No auth' is required if the auth permission is view-on-web.</li>
      <li>Publishable contents related to the auth permission 'refer-for-translation' can be accessed by the SuperAdmin, AgAdmin &amp; AgUser.</li>
      <li>The contents in the app can be downloaded and saved by the SuperAdmin, VachanAdmin &amp; VachanUser (<code>downloadable</code>). The admin can control changes regarding who can download &amp; save the contents.</li>
      <li><code>research-use</code> Research-Material from the app with the auth permission 'read-via-api' can be accessed by the SuperAdmin &amp; Developer.</li>
  </ul>
  <h4 id="mediastreamed-downloadedmedia">Media (Streamed &amp; Downloaded) (<code>media</code>)</h4>
  <ul>
      <li>Media contents can be streamed &amp; downloaded only by the Registered user.</li>
  </ul>
  
  <h4 id="file-handling">File Handling:</h4>
  <p>- In case of file operation 'no auth' is required</p>
  
  <h4 id="autographa-or-translation-project">Autographa or Translation Project</h4>
  <ul>
      <li>Can be viewed by SuperAdmin, AgAdmin, projectOwner, projectMember, Developer</li>
      <li>Editing can be done by the SuperAdmin, AgAdmin, and projectOwner.</li>
      <li>General translation can be viewed &amp; edited only by the Registered user.</li>
  </ul>
  
  <h5 id="bible">Bible:</h5>
  <ul>
      <li>All users can read all the books available in the specified Bible.</li>
  </ul>
  
  <h4 id="access-control-roles-of-app">Access Control (Roles of App)</h4>
  <p>Roles for the default app can be created, read, edited, and deleted by SuperAdmin &amp; VachanAdmin only.</p>
</body>
</html>
      